@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #121212;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
label{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}
#count{
    background: #efefef;
    border-radius: 10px;
}
#increaseBtn,
#decreaseBtn{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}